img {
    /* width:100% ;
    height: auto; */
    border-radius: 4px;
}

.my-arrow {
    background-color: #000;
    padding-top: 5px;
    border-radius: 50%;
}

.arrow-prev {
    padding-right: 8px;
    padding-left: 3px;

}

.arrow-next {
    padding-left: 8px;
    padding-right: 3px;
}

.box {
    position: absolute;
    bottom: 0;
    left: 50px;
}

.sub-box {
    position: absolute;
    bottom: 5px;
    left: 8px;    
}