.head-data-simpan{
    margin-top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
    color: #0D4D23;
}

form{
    margin-top: 25px;
    margin-left: 45px;
    margin-right: 45px;
}

.form-control{
    border: 1px solid #4FB96E;
    border-radius: 4px;
}

.form-label{
    margin-top:25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;

    color: #4FB96E;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

g{
    stroke: #4FB96E;
}

.input-group-text {
    border: var(--bs-border-width) solid #4fb96e;
    background-color: white;
}

.btn-success {
    --bs-btn-font-weight: 700;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #4FB96E;
    --bs-btn-border-color: #4FB96E;
    --bs-btn-border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 10px;
    width: 250px;
}

.form-footer{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.row{
    justify-content: space-evenly;
}

@media (min-width: 576px){
.col-sm-6 {
    width: 505px;
}
}