body{
    background: #4FB96E;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.container{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 70vh;
    min-height: 70vh;
    margin: 10px;
}

.text-login{
    font-family: 'Lavishly Yours';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 25px;
    color: #298C4A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

img{
    width: 51px;
    height: 61px;
}

.container-title{
    margin-top: 20px;
    margin-left: 20px;
}

.container-body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.body-title{
    margin-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #4FB96E;
    margin-bottom: 0px;
}

.body-subTitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #93A298;
    margin-bottom: 20px;
}

form{
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 45px;
}

.form-control{
    border: 1px solid #4FB96E;
    border-radius: 4px;
}

.form-label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
}

.btn-success {
    --bs-btn-font-weight: 700;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #4FB96E;
    --bs-btn-border-color: #4FB96E;
    --bs-btn-border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 10px;
    width: 250px;
}

.form-footer{
    text-align: center;
}

.form-footer-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

a{
    color: #4FB96E;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

g{
    stroke: #4FB96E;
}

.input-group-text {
    border: var(--bs-border-width) solid #4fb96e;
    background-color: white;
}