.lps-head{
    margin: 30px;
}

.head-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.06em;
    color: #0D4D23;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.form-control {
    background-color: #C6F0D2;
    border-radius: 0;
}

.btn-secondary {
    --bs-btn-color: black;
    --bs-btn-bg: #C6F0D2;
    --bs-btn-border-color: none;
}

.btn {
    --bs-btn-border-radius: 0;    
}