.navbar-brand{
    font-family: 'Lavishly Yours';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 25px;
    text-align: center;
    color: #062310;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

/* img{
    width: 51px;
    height: 61px;
} */

.bg-green {
    background-color: #4FB96E!important;
}

a.nav-link.active {
    background-color: #EBF5ED;
    border-radius: 10px;
}

.navbar-collapse {
    margin-top: 10px;
}

.d-flex{
    justify-content: center;
}


.nav-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;

    text-align: center;

    color: #EBF5ED;
}

.dropdown-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 156% */


    color: #000000;

}

.dropdown-menu {
    --bs-dropdown-border-width: 2px;
    --bs-dropdown-border-color: black;
    --bs-dropdown-bg: #4FB96E;
    width: 100px;
    overflow: auto;
}

.profile-dropdown{
    height: 65px;
    padding: 10px;
}

.profile-picture-dropdown{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}

.dropdown-li{
    background: white;
}

.profile-dropdown-name{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
/* identical to box height, or 156% */


color: #0D4D23;
}

.profile-dropdown-status{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 10px;
/* identical to box height, or 179% */


color: #E8FFEE;
}