.avatar.avatar-xxl {
  font-size: 30px;
  height: 300px;
  width: 300px;
}

.profile-user-picture{
    display: block;
}

.profile-body{
    margin-top:70px;
    margin-left:100px;
    margin-right: 200px;
}

.profile-head{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 25px;
  /* or 62% */

  text-align: center;

  color: #0D4D23;
}

.avatar {
    background: #6777ef;
    border-radius: 50%;
    color: #e3eaef;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    line-height: 1.28;
    height: 45px;
    width: 45px;
    border: 5px solid #4FB96E;
  }

  .ic {
    position: absolute;
    transform: translate(25%, 25%);
  }

  .profile-user-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 25px;

    /* or 62% */
    text-align: center;

    color: #4FB96E;
  }

  .profile-email{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 25px;

    /* or 104% */
    text-align: center;

    color: #062310;
  }

.avatar img {
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}

.my-box {
    background: #C4F2CD;
    bottom: 14.64%;
    height: 25%;
    padding: 0.1rem;
    position: absolute;
    right: 14.64%;
    transform: translate(50%, 50%);
    width: 25%;
    z-index: 2;
    border-radius: 50%;
  }

  @media (max-width: 877px) {
    .profile-user-name{
        font-size: 30px;
      }
    
      .profile-email{
        font-size: 14px;
      }

      .profile-body{
        margin:50px;
    }

    .col-md-6{
      margin-top: 50px;
    }
  }

.card{
    border-radius: 0%;
}

.card-header{
    background-color: white;
}

.card-icon{
    display: flex;
    justify-content: space-between;
}

.icon{
    padding:11px 0px;
}

.card-box-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #062310;
}

.card-link{
  text-decoration: none;
}

.btn-outline-success {
  --bs-btn-hover-color: black;
}

.modal-body-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
  /* or 107% */

  text-align: center;

  color: #000000;
}

.modal-body-button{
  text-align: center;
  margin-top: 30px;
}

.btn-secondary {
  --bs-btn-color: #292A2E;
  --bs-btn-bg: #E6E6E6;
}

.btn {
  --bs-btn-font-size: 14px;
  --bs-btn-font-weight: 600;
  --bs-btn-line-height: 1.5;
  --bs-btn-border-radius: 7px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 153px;
  --bs-btn-font-family: Montserrat;
}

.btn-success {
  --bs-btn-color: #4FB96E;
  --bs-btn-bg: #E0FAE7;
}

.modal-body {
  margin: 20px;
}