.hal-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 25px;
    color: #0D4D23;
}

.hal-breadcrump{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 175%;
    color: #0D4D23;
}

.profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 155px;
    height: 155px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.profile-picture-user{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.up_foto_profil{
    background: #B1F2C4;
    border-radius: 4px;
}

.del_foto{
    background: #FBC3C3;
    border-radius: 4px;
}

.col-md-4{
    width: 100px;
    height: 32px;
}

@media (max-width: 768px){
    .profil-input{
        margin:20px;
    }
}

@media (min-width: 769px){
    .profil-input{
        margin:50px;
    }
}

.profil-button-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.profil-input-label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #4A4A4A;
}

.flex-shrink-1 {
    flex-shrink: 1!important;
    background: #FFFFFF;
    border-top: 1px solid #4FB96E;
    border-right: 1px solid #4FB96E;
    border-bottom: 1px solid #4FB96E;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.eye {
    padding: 10px 0;
    padding-right: 10px;
}

.kbw-signature { width: 40%; height: 200px;}
    #sig canvas{
        width: 100% !important;
        height: auto;
}

.signature-pad-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #4FB96E;
}

.btn-submit{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px !important;
    color: #FFFFFF;
}

.input-group-text, select.form-control:not([size]):not([multiple]), .form-control:not(.form-control-sm):not(.form-control-lg) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    color: #4FB96E;
}