.hal-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 25px;
    color: #0D4D23;
}

.hal-breadcrump{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 175%;
    color: #0D4D23;
}

.profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 155px;
    height: 155px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 768px){
    .profil-input{
        margin:20px;
    }
}

@media (min-width: 769px){
    .profil-input{
        margin-left:100px;
        margin-right: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.form-control:disabled {
    background-color: #ffffff !important;
    opacity: 1;
}

.profil-input-label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #4A4A4A;
}

.input-group-text, select.form-control:not([size]):not([multiple]), .form-control:not(.form-control-sm):not(.form-control-lg) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px !important;
    line-height: 23px;
    color: #4FB96E;
}

.nama-admin{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;

    color: #000000;
}

.kartu-pegawai-admin{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.25px;

    color: #000000;

}

.signature-pad-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #4FB96E;
}

.btn{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px !important;
    color: #FFFFFF;
}