.jenis-surat{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;

color: #A6A6A6;
}

.surat-head{
    margin-top: 50px;
}

.judul-surat{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #0D4D23;
}

.form-label{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-align: center;

color: #000000;
}

.syarat-form{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;

color: #A6A6A6;
}

form{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

* {margin: 0; padding: 0; box-sizing: border-box;}
body {background: #f6f6f6; color: #444; font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 1;}
.container {max-width: 1100px; padding: 0 20px; padding-top:20px; margin:0 auto; border: 1px dashed #4FB96E ;}
.panel {margin: 100px auto 40px; max-width: 500px; text-align: center;}
.button_outer { border-radius:30px; text-align: center; height: 50px; width: 200px; display: inline-block; transition: .2s; position: relative; overflow: hidden;}
.btn_upload {padding: 17px 30px 12px; color: #fff; text-align: center; position: relative; display: inline-block; overflow: hidden; z-index: 3; white-space: nowrap;}
.btn_upload input {position: absolute; width: 100%; left: 0; top: 0; width: 100%; height: 105%; cursor: pointer; opacity: 0;}
.file_uploading {width: 100%; height: 10px; margin-top: 20px; background: #ccc;}
.file_uploading .btn_upload {display: none;}
.processing_bar {position: absolute; left: 0; top: 0; width: 0; height: 100%; border-radius: 30px; background:#4FB96E; transition: 3s;}
.file_uploading .processing_bar {width: 100%;}
.success_box {display: none; width: 41px; height: 8px; position: relative;}
.success_box:before {content: ''; display: block; width: 9px; height: 18px; border-bottom: 6px solid #fff; border-right: 6px solid #fff; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); position: absolute; left: 17px; top: 10px;}
.file_uploaded .success_box {display: inline-block;}
.file_uploaded {margin-top: 0; width: 50px; background: #4FB96E; height: 50px;}
.uploaded_file_view {max-width: 300px; margin: 40px auto; text-align: center; position: relative; transition: .2s; opacity: 0; padding: 15px;}
.file_remove{border-radius: 50%; display: block; position: absolute; line-height: 30px; color: #fff; font-size: 12px; cursor: pointer; right: -15px; top: -15px;}
.uploaded_file_view img {max-width: 100%;}
.uploaded_file_view.show {opacity: 1;}
.error_msg {text-align: center; color: #f00}

#file-name{
    word-wrap: break-word
}

.button_outer2 { border-radius:30px; text-align: center; height: 50px; width: 200px; display: inline-block; transition: .2s; position: relative; overflow: hidden;}
.btn_upload2 {padding: 17px 30px 12px; color: #fff; text-align: center; position: relative; display: inline-block; overflow: hidden; z-index: 3; white-space: nowrap;}
.btn_upload2 input {position: absolute; width: 100%; left: 0; top: 0; width: 100%; height: 105%; cursor: pointer; opacity: 0;}
.file_uploading2 {width: 100%; height: 10px; margin-top: 20px; background: #ccc;}
.file_uploading2 .btn_upload2 {display: none;}
.processing_bar2 {position: absolute; left: 0; top: 0; width: 0; height: 100%; border-radius: 30px; background:#4FB96E; transition: 3s;}
.file_uploading2 .processing_bar2 {width: 100%;}
.success_box2 {display: none; width: 41px; height: 8px; position: relative;}
.success_box2:before {content: ''; display: block; width: 9px; height: 18px; border-bottom: 6px solid #fff; border-right: 6px solid #fff; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); position: absolute; left: 17px; top: 10px;}
.file_uploaded2 .success_box2 {display: inline-block;}
.file_uploaded2 {margin-top: 0; width: 50px; background: #4FB96E; height: 50px;}
.uploaded_file_view2 {max-width: 300px; margin: 40px auto; text-align: center; position: relative; transition: .2s; opacity: 0; padding: 15px;}
.file_remove2{border-radius: 50%; display: block; position: absolute; line-height: 30px; color: #fff; font-size: 12px; cursor: pointer; right: -15px; top: -15px;}
.uploaded_file_view2 img {max-width: 100%;}
.uploaded_file_view2.show2 {opacity: 1;}
.error_msg2 {text-align: center; color: #f00}

#file-name2{
    word-wrap: break-word
}

.button_outer3 { border-radius:30px; text-align: center; height: 50px; width: 200px; display: inline-block; transition: .2s; position: relative; overflow: hidden;}
.btn_upload3 {padding: 17px 30px 12px; color: #fff; text-align: center; position: relative; display: inline-block; overflow: hidden; z-index: 3; white-space: nowrap;}
.btn_upload3 input {position: absolute; width: 100%; left: 0; top: 0; width: 100%; height: 105%; cursor: pointer; opacity: 0;}
.file_uploading3 {width: 100%; height: 10px; margin-top: 20px; background: #ccc;}
.file_uploading3 .btn_upload3 {display: none;}
.processing_bar3 {position: absolute; left: 0; top: 0; width: 0; height: 100%; border-radius: 30px; background:#4FB96E; transition: 3s;}
.file_uploading3 .processing_bar3 {width: 100%;}
.success_box3 {display: none; width: 41px; height: 8px; position: relative;}
.success_box3:before {content: ''; display: block; width: 9px; height: 18px; border-bottom: 6px solid #fff; border-right: 6px solid #fff; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); position: absolute; left: 17px; top: 10px;}
.file_uploaded3 .success_box3 {display: inline-block;}
.file_uploaded3 {margin-top: 0; width: 50px; background: #4FB96E; height: 50px;}
.uploaded_file_view3 {max-width: 300px; margin: 40px auto; text-align: center; position: relative; transition: .2s; opacity: 0; padding: 15px;}
.file_remove3{border-radius: 50%; display: block; position: absolute; line-height: 30px; color: #fff; font-size: 12px; cursor: pointer; right: -15px; top: -15px;}
.uploaded_file_view3 img {max-width: 100%;}
.uploaded_file_view3.show3 {opacity: 1;}
.error_msg3 {text-align: center; color: #f00}

#file-name3{
    word-wrap: break-word
}

.button_outer4 { border-radius:30px; text-align: center; height: 50px; width: 200px; display: inline-block; transition: .2s; position: relative; overflow: hidden;}
.btn_upload4 {padding: 17px 30px 12px; color: #fff; text-align: center; position: relative; display: inline-block; overflow: hidden; z-index: 3; white-space: nowrap;}
.btn_upload4 input {position: absolute; width: 100%; left: 0; top: 0; width: 100%; height: 105%; cursor: pointer; opacity: 0;}
.file_uploading4 {width: 100%; height: 10px; margin-top: 20px; background: #ccc;}
.file_uploading4 .btn_upload4 {display: none;}
.processing_bar4 {position: absolute; left: 0; top: 0; width: 0; height: 100%; border-radius: 30px; background:#4FB96E; transition: 3s;}
.file_uploading4 .processing_bar4 {width: 100%;}
.success_box4 {display: none; width: 41px; height: 8px; position: relative;}
.success_box4:before {content: ''; display: block; width: 9px; height: 18px; border-bottom: 6px solid #fff; border-right: 6px solid #fff; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); position: absolute; left: 17px; top: 10px;}
.file_uploaded4 .success_box4 {display: inline-block;}
.file_uploaded4 {margin-top: 0; width: 50px; background: #4FB96E; height: 50px;}
.uploaded_file_view4 {max-width: 300px; margin: 40px auto; text-align: center; position: relative; transition: .2s; opacity: 0; padding: 15px;}
.file_remove4 {border-radius: 50%; display: block; position: absolute; line-height: 30px; color: #fff; font-size: 12px; cursor: pointer; right: -15px; top: -15px;}
.uploaded_file_view4 img {max-width: 100%;}
.uploaded_file_view4.show4 {opacity: 1;}
.error_msg4 {text-align: center; color: #f00}

#file-name4{
    word-wrap: break-word
}

.button_outer5 { border-radius:30px; text-align: center; height: 50px; width: 200px; display: inline-block; transition: .2s; position: relative; overflow: hidden;}
.btn_upload5 {padding: 17px 30px 12px; color: #fff; text-align: center; position: relative; display: inline-block; overflow: hidden; z-index: 3; white-space: nowrap;}
.btn_upload5 input {position: absolute; width: 100%; left: 0; top: 0; width: 100%; height: 105%; cursor: pointer; opacity: 0;}
.file_uploading5 {width: 100%; height: 10px; margin-top: 20px; background: #ccc;}
.file_uploading5 .btn_upload5 {display: none;}
.processing_bar5 {position: absolute; left: 0; top: 0; width: 0; height: 100%; border-radius: 30px; background:#4FB96E; transition: 3s;}
.file_uploading5 .processing_bar5 {width: 100%;}
.success_box5 {display: none; width: 41px; height: 8px; position: relative;}
.success_box5:before {content: ''; display: block; width: 9px; height: 18px; border-bottom: 6px solid #fff; border-right: 6px solid #fff; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); position: absolute; left: 17px; top: 10px;}
.file_uploaded5 .success_box5 {display: inline-block;}
.file_uploaded5 {margin-top: 0; width: 50px; background: #4FB96E; height: 50px;}
.uploaded_file_view5 {max-width: 300px; margin: 40px auto; text-align: center; position: relative; transition: .2s; opacity: 0; padding: 15px;}
.file_remove5 {border-radius: 50%; display: block; position: absolute; line-height: 30px; color: #fff; font-size: 12px; cursor: pointer; right: -15px; top: -15px;}
.uploaded_file_view5 img {max-width: 100%;}
.uploaded_file_view5.show5 {opacity: 1;}
.error_msg5 {text-align: center; color: #f00}

#file-name5{
    word-wrap: break-word
}

.btn{
    width: 220px;
}

hr{
    border: 4px dashed #4FB96E;
}