.hal-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #0D4D23;
    padding: 50px 50px 0px 50px;
}

.hal-body{
    margin: 50px;
}

.surat-detail{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;

    color: #4FB96E;
}

.surat-kategori{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #A6A6A6;
    width: 160px;
}

.no-surat{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;

    color: #4FB96E;
}

.table:not(.table-sm):not(.table-md):not(.dataTable) td, .table:not(.table-sm):not(.table-md):not(.dataTable) th {
    padding: 0 5px !important;
    height: 30px !important;
    vertical-align: middle !important;
}

.bidang-pengirim{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4FB96E;
}

.lampiran-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #909090;
    margin-left: 50px;
}

.stretched-link{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;

    color: #000000;
}

.card-body{
    background: #E6E6E6 !important;
    border-radius: 0px 0px 4px 4px !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.surat-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    color: #000000;
    margin-bottom: 50px;
}

@media (max-width: 576px){
    .hal-body{
        margin: 10px;
    }
}

.button-text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}